/*Importanting Required Fonts for Project*/
@font-face {
	src: url('fonts/Montserrat-ExtraLight.otf');
	font-family: 'Montserrat';
	font-weight: 300;
}

@font-face {
	src: url('fonts/Montserrat-Light.otf');
	font-family: 'Montserrat';
	font-weight: 400;
}

@font-face {
	src: url('fonts/Montserrat-Regular_2.otf');
	font-family: 'Montserrat';
	font-weight: 450;
}

@font-face {
	src: url('fonts/Montserrat-Regular.otf');
	font-family: 'Montserrat';
	font-weight: 500;
}

@font-face {
	src: url('fonts/ProximaNovaAlt_Regular-webfont.ttf');
	font-family: 'Proxima Nova';
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

/*Declaring Colors*/
/*How to use: color: var(--main-blue) */
:root {
	--main-blue: #ADD9F4;
	--cancel-orange: #ff8000;

	--primary-gray: #95989A;
	--secondary-gray: #C8C8C8;
	--tertiary-gray: #F1F1F1;

	--footer-gray: #525666;
	--footer-special: #525666;
}

button:focus {
	outline: none;
}


button.esoteric {
	display: block;
	font-family: 'Montserrat';
	font-size: 1em;
	font-weight: 500;
	color: black;
	
	background-color: white;
	border: none;
	border-bottom: 2px solid black;
	padding: 0;
	padding-bottom: 5px;

	cursor: pointer;
	transition: all ease-out 0.3s;
}

button.esoteric:hover {
	color: rgba(72, 72, 72, 0.2);
	border-color: rgba(72, 72, 72, 0.2);
}






body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	// min-height: 101vh;
}

header#landing { 
	display: block;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	transition: opacity ease-out 0.5s;
}


	header#landing div.logoWrapper {
		display: table;
		margin: 30px 0 0 30px;
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'Montserrat';
	}
		
		header#landing div.logoWrapper h1,
		header#landing div.logoWrapper h3 {
			display: table;
			margin: 0;
		}

		header#landing div.logoWrapper h1 {
			margin-top: -10px;
			margin-left: -4px;
			font-size: 3.5em;
			font-weight: 300;
			color: var(--tertiary-gray);
			opacity: 0;

			animation-name: fadeIn_logo;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
			animation-delay: 0.5s;
		}

		header#landing div.logoWrapper h3 {
			font-weight: 300;
			font-size: 1.25em;
			color: black;
			opacity: 0;

			animation-name: fadeIn_logo;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}


@keyframes fadeIn_logo {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


	header#landing ul.nav {
		display: table;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		transform: translate(-50%, -50%);
		list-style-type: none;
	}

	header#landing ul.nav li {
		display: inline-block;
		margin: 30px 10px;
		font-family: 'Montserrat';
		font-weight: 300;
		font-size: 1.25em;
		color: black;
		cursor: pointer;
		transition: all ease-out 0.5s;
		opacity: 0;
	}

	header#landing ul.nav li.present {
		opacity: 1;
		transition: opacity ease-out 0.5s;
	}

	header#landing ul.nav li.fadeIn {
		animation-name: fadeIn_links;
		animation-duration: 0.7s;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		animation-fill-mode: forwards;
	}

		header#landing ul.nav li span {
			font-family: 'Open Sans';
			font-size: 0.6em;
			color: #b8b8b8;
		}


@keyframes fadeIn_links {
	0% {opacity: 0; transform: translateY(20px);}
	100% {opacity: 1; transform: translateY(0px);}
}


@media screen and (max-width: 700px) {
	header#landing div.logoWrapper h1 {
			margin-top: -5px;
			font-size: 2.25em;
		}

		header#landing div.logoWrapper h3 {
			font-size: 0.8em;
		}

	header#landing ul.nav li {
		display: block;
		margin: 20px 10px;
		font-size: 1.5em;
	}

	header#landing ul.nav li span{
		font-size: 0.5em;
	}
}




	


section#wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	transition: opacity ease-out 0.5s;
	// padding-right: 17px;
}

div#mainHeader {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-bottom: 1px solid rgba(72, 72, 72, 0.1);
	z-index: 2;
}

	div#mainHeader span {
		margin: 0;
		position: absolute;
		top: 47%;
		transform: translateY(-50%);
		font-family: 'Montserrat';
		font-weight: 450;
		font-size: 2em;
		color: var(--tertiary-gray);
	}

		div#mainHeader span#left {
			left: 0;
			margin-left: 20px;
		}

		div#mainHeader span#right {
			right: 0;
			margin-right: 20px;
		}

	div#mainHeader h1 {
		display: block;
		margin: 0;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		font-family: 'Montserrat';
		font-size: 1.2em;
		font-weight: 100;
		color: black;
		transition: opacity ease-out 0.7s;
		opacity: 0;
	}


section#wrapper p#headerText {
	display: table;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 0.9em;
	line-height: 16px;
	text-align: center;
	color: rgba(72, 72, 72, 0.5);
	transition: opacity ease-out 0.7s;
	opacity: 0;
}

@media screen and (max-width: 440px) {
	section#wrapper p#headerText {
		width: 70%;
		font-size: 0.7em;
	}
}








section.main {
	display: none;
	width: 90%;
	/*min-height: 100vh;*/
	margin: 0 auto;
	position: relative;
	/*top: 100px;*/
	padding-top: 200px;
	/* transition: ease-out .75s;*/
	z-index: 1;
	opacity: 0;
}

	section.transitionUp_a {
		animation-name: transitionUp_a;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		// animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionUp_a {
			0% {opacity: 0; transform: translateY(40px);}
			100% {opacity: 1; transform: translateY(0px);}
		}


	section.transitionUp_d {
		animation-name: transitionUp_d;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionUp_d {
			0% {opacity: 1; transform: translateY(0px);}
			100% {opacity: 0; transform: translateY(-40px);}
		}


	section.transitionDown_a {
		animation-name: transitionDown_a;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

		@keyframes transitionDown_a {
			0% {opacity: 0; transform: translateY(0px);}
			100% {opacity: 1; transform: translateY(40px);}
		}

	section.transitionDown_d {
		animation-name: transitionDown_d;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionDown_d {
			0% {opacity: 1; transform: translateY(0px);}
			100% {opacity: 0; transform: translateY(40px);}
		}


	section.transitionLeft_d {
		animation-name: transitionLeft_d;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionLeft_d {
			0% {opacity: 1; transform: translateX(0px);}
			100% {opacity: 0; transform: translateX(-40px);}
		}

	section.transitionLeft_a {
		animation-name: transitionLeft_a;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionLeft_a {
			0% {opacity: 0; transform: translateX(0px);}
			100% {opacity: 1; transform: translateX(-40px);}
		}

	section.transitionRight_d {
		animation-name: transitionRight_d;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionRight_d {
			0% {opacity: 1; transform: translateX(40px);}
			100% {opacity: 0; transform: translateX(0px);}
		}

	section.transitionRight_a {
		animation-name: transitionRight_a;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionRight_a {
			0% {opacity: 0; transform: translateX(40px);}
			100% {opacity: 1; transform: translateX(0px);}
		}

	section.transitionToRight_d {
		animation-name: transitionToRight_d;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionToRight_d {
			0% {opacity: 1; transform: translateX(0px);}
			100% {opacity: 0; transform: translateX(40px);}
		}

	section.transitionToRight_a {
		animation-name: transitionToRight_a;
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
		@keyframes transitionToRight_a {
			0% {opacity: 0; transform: translateX(-40px);}
			100% {opacity: 1; transform: translateX(0px);}
		}
	



@media screen and (max-width: 1024px) {
	section.main { width: 100%; }
}

@media screen and (max-width: 440px) {
	section.main {
		padding-top: 180px;
	}
}









section#introduction {}

section#introduction div.first {
	position: relative;
	width: 100%;
}

section#introduction div.first div.contentWrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

section#introduction div#headerImage {
	display: inline-block;
	width: 45%;
	height: 200px;
	float: left;
	margin-left: 20px;
	position: absolute;
	top: 53%;
	transform: translateY(-50%);

	background-image: url('images/mubarizMehdizadeh_portrait.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#introduction article {
	display: inline-block;
	width: 45%;
	float: right;
	margin-right: 20px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	color: rgba(72, 72, 72, 0.5);
}

section#introduction article h1 {
	margin: 0;
	margin-bottom: 5px;
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 2em;
	color: black;
}

section#introduction article h3 {
	margin: 0; 
	font-weight: 300;
	font-size: 1em;
}

section#introduction article p {
	margin-top: 40px;
	font-size: 0.8em;
	line-height: 26px; 
	color: black;
}

section#introduction button#switchSection_one {
	margin: 60px auto;
}




@media screen and (max-width: 1024px) {
	section#introduction div#headerImage,
	section#introduction article {
		display: block;
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	section#introduction div#headerImage {
		height: 250px;
		position: relative;
		margin-bottom: 40px;
		transform: translateY(0%);
	}
}

@media screen and (max-width: 440px) {
	section#introduction div#headerImage {
		height: 150px;
		transform: translateY(-0%);
	}

	section#introduction article h1 {
		font-size: 1.5em;
	}

	section#introduction article h3 {
		font-size: 0.7em;
	}

	section#introduction article p {
		font-size: 0.85em;
	}
}









section#introduction div.second {
	display: none;
	position: relative;
	width: 100%;
	padding-top: 80px;
	// overflow: hidden;
}

	div.second div.title {
		display: table;
		margin: 0px auto 100px;
	}

		div.second div.title h1 {
			margin: 0;
			margin-bottom: 2px;
			font-family: 'Montserrat';
			font-weight: 300;
			font-size: 1.75em;
			color: black;
		}

		div.second div.title h3 {
			margin: 0;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 1em;
			color: #b8b8b8;
		}

	div.second div.resumeEntry {
		width: 95%;
		margin: 40px auto;
		overflow: hidden;
	} 

		div.second div.resumeEntry > div.info {
			display: inline-block;
			width: 50%;
			float: left;
		}

			div.second div.resumeEntry > div.info h1 {
				margin: 0;
				margin-bottom: 10px;
				font-family: 'Montserrat';
				font-size: 2.25em;
				font-weight: 400;
				color: black;
			}

			div.second div.resumeEntry > div.info h3 {
				margin: 0;
				margin-bottom: 10px;
				font-family: 'Open Sans';
				font-weight: 300;
				font-size: 1em;
				color: #b8b8b8;
			}

			div.second div.resumeEntry > div.info h3 span {
				font-size: 2em;
				line-height: 0;
				color: black;
			}

		div.second div.resumeEntry > div.description {
			display: inline-block;
			width: 50%;
			float: right;
		}

			div.second div.resumeEntry > div.description p {
				width: 90%;
				margin: 0 auto;
				font-family: 'Open Sans';
				font-weight: 300;
				font-size: 0.8em;
				line-height: 26px; 
				color: #707070;
			}

section#introduction div.second button#switchSection_two {
	margin: 100px auto 60px;
}



@media screen and (max-width: 1024px) {
	div.second div.resumeEntry > div.info,
	div.second div.resumeEntry > div.description {
		width: 90%;
		margin-top: 20px;
		margin-left: 15px;
		float: none;
		
	}

	div.second div.resumeEntry > div.description p {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 440px) {

		section#introduction div.second {
			padding-top: 20px;	
		}

		div.second div.title {
			margin-top: 60px;
			margin-bottom: 80px;
		}	

		div.second div.title h1 {
			font-size: 1.2em;
		}

		div.second div.title h3 {
			margin: 0;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 0.7em;
			color: #b8b8b8;
		}


		div.second div.resumeEntry > div.info h1 {
				font-size: 1.5em;
			}

		div.second div.resumeEntry > div.info h3 {
			margin-top: 10px;
			font-size: 0.85em;
		}

		div.second div.resumeEntry > div.info h3 span {
			font-size: 1em;
			line-height: 0;
			color: black;
		}

		div.second div.resumeEntry > div.description p {
			font-size: 0.8em;
		}
}



















section#experiences {}

section#experiences div#listOfExps {
	display: table;
	margin: 0 auto;
	position: relative;
}

	section#experiences div#listOfExps div.anExp {
		margin: 120px auto;
		margin-left: 120px;
		cursor: pointer;
	}

	section#experiences div#listOfExps div.anExp:first-child {
		margin-top: 60px;
	}

		section#experiences div#listOfExps div.anExp h3 {
			margin: 0;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 1.25em;
			color: rgba(72, 72, 72, 0.5);
		}

		section#experiences div#listOfExps div.anExp h1 {
			margin: 0;
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 2em;
			color: black;
		}

		section#experiences div#listOfExps div.anExp p {
			margin: 0;
			margin-top: 2px;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 1em;
			color: rgba(72, 72, 72, 0.5);
		}




section#experiences div#expExp {
	display: none;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 40px;
} 

	section#experiences div#expExp div.image {
		display: inline-block;
		width: 49%;
		height: 300px;
		float: right;

		/*background-image: url('images/charlesForerunner.jpg');*/
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	section#experiences div#expExp article {
		display: inline-block;
		width: 49%;
		float: left;
	}

		section#experiences div#expExp article h3 {
			margin: 0;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 1.25em;
			color: rgba(72, 72, 72, 0.5);
		}
		section#experiences div#expExp article h1 {
			margin: 0;
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 2em;
			color: black;
		}
		section#experiences div#expExp article p  {
			width: 90%;
			margin: 0;
			margin-top: 20px;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 0.85em;
			line-height: 24px;
			color: #707070;
		}

	section#experiences div#expExp #backToList {
		margin: 420px auto 60px;
	}


@media screen and (max-width: 1024px) {
	section#experiences div#expExp {
		padding-top: 0;
	}

	section#experiences div#expExp article,
	section#experiences div#expExp div.image {
		display: block;
		float: none;
	}

	section#experiences div#expExp div.image {
		width: 90%;
		margin-bottom: 40px;
	}

	section#experiences div#expExp article {
		width: 90%;
		margin: 0 auto 60px;
	}
} 

@media screen and (max-width: 440px) {
	section#experiences div#expExp div.image {
		height: 180px;
	}

	section#experiences div#listOfExps div.anExp {
		margin: 120px auto;
		margin-left: 60px;
	}

	section#experiences div#listOfExps div.anExp h3 {
		font-size: 1em;
	}

	section#experiences div#listOfExps div.anExp h1 {
		font-size: 1.8em;
	}

	section#experiences div#listOfExps div.anExp p {
		width: 90%;
		margin-top: 5px;
		font-size: 0.8em;
		line-height: 20px;
	}

	section#experiences div#expExp article p  {
		font-size: 0.8em;
	}

	section#experiences div#expExp #backToList {
		margin: 60px auto 60px;
	}
}



















 /*______________________________________________________________________

	Recollections Area 
________________________________________________________________________
*/

section#recollections {}

section#recollections div.listOfRecollections {
	width: 100%;
	margin-left: 60px;
	position: relative;
	overflow: hidden;
}


	section#recollections div.listOfRecollections div.entry {
		display: inline-block;
		width: 49%;
		margin: 60px auto;
		float: left;
	}

		section#recollections div.listOfRecollections div.entry h3 {
		    margin: 0;
		    margin-bottom: 5px;
		    font-family: 'Open Sans';
		    font-weight: 300;
		    font-size: 1.25em;
		    color: rgba(72, 72, 72, 0.5);
		}

		section#recollections div.listOfRecollections div.entry h1 {
			margin: 0;
		    font-family: 'Montserrat';
		    font-weight: 400;
		    font-size: 2em;
		    color: black;
		}


	section#recollections article#aRecollection {
		display: none;
		margin-top: 120px;
	}

		section#recollections article#aRecollection h3 {
			margin: 0;
		    margin-bottom: 5px;
		    font-family: 'Open Sans';
		    font-weight: 300;
		    font-size: 1.25em;
		    color: rgba(72, 72, 72, 0.5);
		}

		section#recollections article#aRecollection h1 {
			margin: 0;
		    font-family: 'Montserrat';
		    font-weight: 400;
		    font-size: 2.5em;
		    color: black;
		}

		section#recollections article#aRecollection p {
			margin-top: 40px;
			font-family: "Open Sans";
			font-weight: 300;
			font-size: 0.9em;
			line-height: 28px; 
			color: black;
		}

		section#recollections article#aRecollection button#backToRecollections {
			margin: 60px auto;
		}









@media screen and (max-width: 1024px) { 
	section#recollections div.listOfRecollections {
		margin-left: 120px;
	}

	section#recollections div.listOfRecollections div.entry {
		width: 80%;
		float: none;
	}

	section#recollections article#aRecollection {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}




@media screen and (max-width: 440px) { 
	section#recollections div.listOfRecollections {
		margin-left: 60px;
	}

	section#recollections article#aRecollection h3 {
		margin-left: 3px;
		font-size: 0.9em;
	}

	section#recollections article#aRecollection h1 {
		font-size: 1.8em;
	}

	section#recollections article#aRecollection p {
		font-size: 0.8em;	
	}
}
















 




 /*______________________________________________________________________

	Connections Area 
________________________________________________________________________
*/


section#connections {
	min-height: calc(100vh - 220px);
}

section#connections button#initiateInputs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.25em;
	padding-bottom: 10px;
}

section#connections form {
	display: none;
	width: 70%;
	min-height: 118px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all ease-out 0.5s;
	opacity: 0;
}

section#connections form .input {
	display: none;
	width: 100%;
	height: 60px;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
	color: black;
	
	border: none;
	border-bottom: 2px solid black;
	transition: all ease-out 0.5s;
	opacity: 0;
}

section#connections form .input::placeholder {
	color: #b8b8b8;
}

section#connections form input {

}

section#connections form input:focus,
section#connections form textarea:focus {
	outline: none;
	background-color: rgba(241,241, 241, 0.4);
	border-color: white;
}

/*The Textarea*/
section#connections form .input:nth-child(4n) {
	height: 120px;
	text-align: left;
	padding: 10px;
}

section#connections form #messageSent {
	display: none;
	font-family: 'Montserrat';
    font-size: 1.25em;
    font-weight: 500;
    color: black;
    text-align: center;
    transition: all ease-out 0.5s;
    opacity: 0;
}

section#connections form #inputHelp {
	position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

	font-family: 'Open Sans';
	font-weight: 300;
	color: #b8b8b8;
	text-align: center;
	transition: all ease-out 0.5s;
}




section#connections ul#socials {
	display: table;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    list-style-type: none;
}

section#connections ul#socials li.socialLinks {
	display: inline-block;
	margin: 0 20px;
	font-family: 'Montserrat';
	font-weight: 450;
	font-size: 2em;
	border-bottom: 2px solid white;
	padding-bottom: 5px;

	cursor: pointer;
	transition: all ease-out 0.3s;
}

section#connections ul#socials li.socialLinks:hover {
	border-bottom-color: black;
}















 /*______________________________________________________________________

	Footer Area / About Project
________________________________________________________________________
*/

footer {
	display: none;
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 5;
	transition: all ease-out 0.5s;
}

footer div#backToMenu {
	display: table;
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px 20px 0 0;

	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1.5em;
	color: var(--primary-gray);
	transition: all ease-out 0.5s;
}

footer div#backToMenu:hover {
	color: var(--cancel-orange);
	cursor: default;
}

footer div#projectInfo_wrapper {
	display: table;
	margin: 0 0 80px 40px;
	padding-top: 140px;
}

footer div#projectInfo_wrapper h3.subtitle {
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 1.25em;
	color: var(--primary-gray);
}

footer div#projectInfo_wrapper h1 {
	margin: 0;
	margin-left: -4px;
	font-family: 'Montserrat';
	font-size: 3.5em;
	color: var(--tertiary-gray);
}

footer div#projectInfo_wrapper h5.version {
	margin: 0;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 0.8em;
	color: var(--main-blue);

}

footer div#projectInfo_wrapper p.aboutProject {
	width: 60%;
	max-width: 800px;
	margin-top: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 0.8em;
	line-height: 22px;
	color: var(--primary-gray);
}




footer div#legend_wrapper {
	display: table;
	margin: 0 auto 120px;
	text-align: center;
}

footer div#legend_wrapper h1 {
	margin: 0;
	margin-left: -4px;
	font-family: 'Montserrat';
	font-size: 2.5em;
	color: var(--tertiary-gray);
}

footer div#legend_wrapper ul {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
}

footer div#legend_wrapper ul li {
	display: inline-block;
	width: 50%;
	margin: 10px 0 10px 0;
	position: relative;
	float: left;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1.25em;
	color: var(--primary-gray);
}

footer div#legend_wrapper ul li span {
	position: absolute;
	margin-left: 10px
}

footer div#legend_wrapper ul li svg {
	/*position: absolute;	*/
}

	footer div#legend_wrapper ul li:first-child svg {}
	footer div#legend_wrapper ul li:nth-child(2) svg {}
	footer div#legend_wrapper ul li:nth-child(3) span { margin-left: 15px }
	footer div#legend_wrapper ul li:last-child svg {}

footer div#legend_wrapper ul li svg * {
	stroke: var(--main-blue);
}

footer div#legend_wrapper ul li:last-child svg * {
	fill: var(--main-blue);
}




footer div#plug_wrapper {
	display: table;
	margin: 0 auto 120px;
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

footer div#plug_wrapper h3.subtitle {
	margin: 0;
	margin-bottom: 15px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: var(--primary-gray);
	font-size: 1.5em;
}

footer div#plug_wrapper h1 {
	width: 200px;
	margin: 0 auto;
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 14px;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
    padding: 7px 15px;
}

footer div#plug_wrapper ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

footer div#plug_wrapper ul li {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 15px 10px 0;
	position: absolute;
}

footer div#plug_wrapper ul li:first-child { left: 80px; }
footer div#plug_wrapper ul li:last-child { left: 130px; }

footer div#plug_wrapper ul li svg * {
	/*stroke: var(--primary-gray) !important;*/
	fill: var(--primary-gray) !important;
}




@media screen and (min-width: 1024px) {
	footer div#projectInfo_wrapper p.aboutProject {
		font-size: 1em;
		line-height: 24px;
	}

	footer div#legend_wrapper {
		display: table;
		margin: 0 0 0 40px;
		text-align: left;
	}

	footer div#plug_wrapper {
		right: 0;
		left: auto;
		margin-right: 40px;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 440px) {
	footer div#projectInfo_wrapper {
		margin-left: 20px;
	}

	footer div#projectInfo_wrapper p.aboutProject {
		width: 80%;
	}

	footer div#legend_wrapper ul li {
		width: 100%;
		margin: 10px auto;
	}
}