/*Importanting Required Fonts for Project*/
@font-face {
	src: url('fonts/Montserrat-ExtraLight.otf');
	font-family: 'Montserrat';
}
@font-face {
	src: url('fonts/ProximaNovaAlt_Regular-webfont.ttf');
	font-family: 'Proxima Nova';
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/*Declaring Colors*/
/*How to use: color: var(--main-blue) */
:root {
	--main-blue: #ADD9F4;
	--cancel-orange: #ff8000;
	--primary-gray: #95989A;
	--secondary-gray: #C8C8C8;
	--tertiary-gray: #F1F1F1;
	--footer-gray: #525666;
	--footer-special: #525666;
}

button:focus {
	outline: none;
}


body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header#landing { 
	display: block;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	transition: opacity ease-out 0.5s;
}

header#landing div.logoSide {
	display: inline-block;
	position: relative;
	float: left;
	height: 100vh;
	/*border-right: 2px solid var(--tertiary-gray);*/
	padding: 0 60px;
	opacity: 0;
	transition: all ease-out 2s;
}

header#landing div.logoSide.loaded {
	opacity: 1;
}

header#landing div.logoSide:before {
	position: absolute;
	width: 2px;
	right: 0;
	top: 0;
	bottom: 100%;
	background-color: var(--tertiary-gray);
	transition: all ease-out 1s;
	content: "";
}

header#landing div.logoSide.loaded:before {
	animation-name: DrawOut;
	animation-delay: 1.5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	/*bottom: 0;*/
}

	@keyframes DrawOut {
		0% {bottom: 100%;}
		100% {bottom: 0;}
	}

header#landing div.logoSide > .logoWrapper {
	display: table;
	position: relative;
	top: 80px;
}

header#landing div.logoSide > .logoWrapper > h3,
header#landing div.logoSide > .logoWrapper > h1 {
	display: table;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header#landing div.logoSide > .logoWrapper > h3 {
	font-weight: 300;
	font-size: 1.25em;
	color: var(--primary-gray);
}

header#landing div.logoSide > .logoWrapper > h1 {
	margin-left: -4px;
	font-size: 3.5em;
	color: var(--tertiary-gray);
}




header#landing div.navSide {
	display: inline-block;
	height: 100vh;
	position: relative;
}

header#landing div.navSide > ul.nav {
	display: table;
	position: relative;
	top: 200px;
	margin: 0 0 0 80px;
	padding: 0;
	list-style-type: none;
}

header#landing div.navSide > ul.nav > li {
	height: 80px;
	display: table;
	/*margin: 40px 0;*/
}

header#landing div.navSide > ul.nav > li:first-child { margin-top: 0; }
header#landing div.navSide > ul.nav > li:last-child { margin-bottom: 0; }

header#landing div.navSide > ul.nav > li > p {
	display: table;
	position: relative;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.75em;
	line-height: 25px;
	color: var(--primary-gray);
	
	padding: 0 2px 5px 2px;
	opacity: 0;
	transition: all ease-out 0.5s;
}

header#landing div.navSide > ul.nav > li > p:before {
	height: 1px;
	position: absolute;
	left: 0;
	right: 100%;
	bottom: 0;
	background-color: var(--main-blue);
	transition: right ease-out 0.75s;
	content: "";
}

header#landing div.navSide > ul.nav > li > p.selected:before {
	right: 0;
} 

header#landing div.navSide > ul.nav > li > p:hover {
	cursor: default;
}

header#landing div.navSide > ul.nav > li > p > span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.6em !important;
	color: var(--main-blue);
	
	padding-right: 10px;
}

header#landing div.navSide > ul.nav > li > p > span.info {
	/*display: none;*/
	padding-left: 40px;
	opacity: 0;
	transition: all ease-out 0.5s;
}




@media screen and (max-width: 1024px) {
	header#landing {
		overflow-y: auto;
	}

	header#landing div.logoSide {
		display: block;
		width: 100%;
		float: none;
		height: auto;
		border-right: none;
		/*border-bottom: 2px solid var(--tertiary-gray);*/
		padding: 60px 0;
	}

	header#landing div.logoSide:before {
		width: auto;
		height: 2px;
		top: auto;
		right: 100%;
		bottom: 0;
		left: 0;
	}

	/*header#landing div.logoSide.loaded:before {
		right: 0;
	}*/

		@keyframes DrawOut {
		0% {right: 100%;}
		100% {right: 0;}
	}

	header#landing div.logoSide > .logoWrapper {
		top: 0;
		left: 60px;
	}

	header#landing div.logoSide > .logoWrapper > h3 {
		font-size: 1.25em;
	}

	header#landing div.logoSide > .logoWrapper > h1 {
		font-size: 2.75em;
	}

	header#landing div.navSide {
		display: block;
		width: 100%;
		height: auto;
	}

	header#landing div.navSide > ul.nav {
		/*top: 0;*/
		/*margin: 60px 0 0 100px;*/
		float: right;
		top: 60px;
		right: 15%;

	}

	header#landing div.navSide > ul.nav > li {
		height: 60px;
	}

	header#landing div.navSide > ul.nav > li > p {
		font-size: 1.5em;
	}

	header#landing div.navSide > ul.nav > li > p span {
		padding-right: none;
	}

	header#landing div.navSide > ul.nav > li > p span.info {
		display: none;
	}
}






section#wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	transition: opacity ease-out 0.5s;
}

div#mainHeader {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-bottom: 1px solid var(--secondary-gray);
	z-index: 2;
}

div#mainHeader_overlay {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	border-bottom: 1px solid var(--secondary-gray);
	z-index: 3;
}

div#mainHeader h1 {
	display: block;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	margin: 0 0 20px 20px;
	font-family: 'Montserrat';
	font-size: 1.5em;
	font-weight: 100;
	color: var(--secondary-gray);
	transition: opacity ease-out 0.4s;
}

div#mainHeader p {
	display: none;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	margin: 0 0 20px 20px;
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 300;
	color: var(--main-blue);
	transition: opacity ease-out 0.4s;
	opacity: 0;
}

nav#controls {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	background-color: #ffffff;
	z-index: 2;
}

nav#controls ul#iconList {
	display: table;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	background-color: transparent;
	padding: 0;
	list-style-type: none;
}

nav#controls ul#iconList li {
	display: inline-block;
	margin: 10px 10px 7px;
}

nav#controls ul#iconList li svg {
	width: 40px;
	height: 40px;
	transition: all ease-out 0.5s;
}

nav#controls ul#iconList li svg:hover {
	background-color: var(--primary-gray);
	border-color: #ffffff;
}

nav#controls ul#iconList li svg:hover .inner {
	stroke: #ffffff !important;
}

nav#controls ul#iconList li svg * {
	transition: stroke ease-out 0.45s;
	stroke: var(--primary-gray);
}

nav#controls ul#iconList li:first-child svg { border-top: 2px solid var(--primary-gray); }
nav#controls ul#iconList li:nth-child(2n) svg { border-bottom: 2px solid var(--primary-gray); } 

nav#controls ul#iconList li:nth-child(3n) {
	width: 47px;
	height: 47px;
	margin-bottom: 0px;
}

nav#controls ul#iconList li:nth-child(3n) svg { 
	width: 28px;
	height: 28px;
	position: relative;
	stroke: #ffffff;
	border-radius: 50px;
	/*border: 2px solid var(--main-blue);*/
	/*background-color: var(--main-blue); */
	padding: 7px;
	transition: all ease-out 0.5s;
}





nav#overlay {
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: #ffffff;
	transition: opacity ease-out 0.5s;
	opacity: 0;
	z-index: 4;
}

nav#overlay.active {
	opacity: 1;
}

nav#overlay.nonActive {
	opacity: 0;
}

nav#overlay ul {
	list-style-type: none;
	margin-right: 20px;
	position: absolute;
	right: 0px;
}

nav#overlay ul#menuList {}

nav#overlay ul#menuList li {
	display: block;
	margin: 30px 0;
	text-align: right;
}

nav#overlay ul#menuList li:first-child { margin: 20px -10px 0 0; }
nav#overlay ul#menuList li:nth-child(2n) { margin-top: 10px; }

.moveLeft {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 5px;
	transition: color ease-out 0.5s;
}

.moveLeft:hover {
	color: var(--main-blue);
}

.moveLeft:before {
	height: 1px;
	position: absolute;
	left: 100%;
	right: 0;
	bottom: 0;
	background-color: var(--main-blue);
	transition: left ease-out 0.3s;
	content: "";
}

.moveLeft.active:before {
	left: 0;
}

nav#overlay ul#menuList li a {
	position: relative;
	text-decoration: none;
	font-size: 1.5em;
	color: var(--primary-gray);
	padding-left: 50px;
}

nav#overlay ul#menuList li a:hover {
	color: var(--main-blue);
}

nav#overlay ul#menuList li svg {
	position: relative;
	fill: var(--primary-gray);
	transition: all ease-out 0.5s;
}

nav#overlay ul#menuList li svg:hover {
	fill: var(--cancel-orange);
}

nav#overlay ul#scmList {
	display: table;
	bottom: 100px;
	border: 2px solid var(--secondary-gray);
	border-radius: 2px;
	padding: 0;
}

nav#overlay ul#scmList li {
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0px;
}

nav#overlay ul#scmList li:first-child {padding-left: 10px}
nav#overlay ul#scmList li:last-child {padding-right: 10px;}

nav#overlay ul#scmList li a {
	text-decoration: none;
	font-family: 'Proxima Nova';
	font-size: 1.25em;
	color: var(--secondary-gray);
	border-bottom: 4px solid transparent;
	padding: 10px 10px 7px;
	transition: all ease-out 0.5s;
}

nav#overlay ul#scmList li a:hover {
	color: var(--main-blue);
	border-color: var(--main-blue);
}










section.main {
	display: none;
	width: 100%;
	min-height: 100vh;
	position: relative;
	transition: opacity ease-out 0.4s;
	z-index: 1;
	opacity: 0;
}

/*section.main h1 {
	display: inline-block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: 'Montserrat';
	font-size: 2em;
	font-weight: 100;
	color: white;
	background-color: var(--footer-special);
	padding: 10px 15px;
}*/









section#introduction {}

section#introduction div#headerImage {
	display: block;
	width: 90%;
	height: 30vh;
	margin: 0 auto 20px;
	padding-top: 70px;

	background-image: url('images/alexBoyd.jpg');
	background-size: cover;
	background-position: center -30px;
	background-repeat: no-repeat;
}

section#introduction article {
	width: 90%;
	margin: 20px auto;

	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: 300;
	line-height: 24px;  
	color: var(--primary-gray);
}

section#introduction article p {
	margin-bottom: 20px;
}

@media screen and (max-width: 440px) {
	section#introduction div#headerImage {
		height: 20vh;
		background-position: center 40px;
	}

	section#introduction article {
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 1100px) {
	section#introduction div#headerImage {
		height: 40vh;
	}
}









section#aspirations {}

section#aspirations article {
	width: 100%;
	margin-left: -20px;
	margin-bottom: 60px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	font-weight: 300 !important;
	line-height: 24px;  
	color: var(--primary-gray);
	padding-top: 110px;
}

section#aspirations article h1 {
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.9em;
	font-weight: 300;
}
section#aspirations article p {
	margin-left: auto;
	width: 80%;
	font-size: 0.95em;
}




section#aspirations div#slides {
	width: 100%;
	height: 50vh;
	margin-bottom: 70px;
	position: relative;

	background-image: url('images/tommyTaipeiTaiwan.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#aspirations div#slides * { transition: all ease-out 0.4s; }

div#slides div#fade {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
}

div#slides div.infoWrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
    font-weight: 300;
    color: var(--primary-gray);
}


div#slides div.infoWrapper h1 {
	width: 95%;
	margin: 20px auto 10px;
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 1.9em;
}
div#slides div.infoWrapper p {
	width: 98%;
	margin: 10px auto 30px;
	font-family: 'Open Sans';
	font-size: 0.9em;
}

div#slides div.infoWrapper div.tellerWrapper {
	margin-bottom: 10px
}
div#slides div.infoWrapper div.tellerWrapper p {
	margin: 0;
}
div#slides div.infoWrapper div.tellerWrapper p#current{
	margin-left: -15px;
}
div#slides div.infoWrapper div.tellerWrapper p#total{
	margin-left: 15px;
}
div#slides div.infoWrapper div.tellerWrapper div.divider{
	width: 40px;
    border: 0.5px solid var(--primary-gray);
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-60%) rotate(-45deg);
}

div#slides div.infoWrapper svg {
	width: 40px;
    height: 40px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
}

div#slides div.infoWrapper svg:hover {
	background-color: var(--primary-gray);
	border-color: #ffffff;
}

div#slides div.infoWrapper svg:hover * {
	stroke: #ffffff !important;
}

div#slides div.infoWrapper svg#left {
	left: 0;
	margin-left: 10px;
	border-left: 1px solid var(--primary-gray);
}
div#slides div.infoWrapper svg#right {
	right: 0;
	margin-right: 10px;
	border-right: 1px solid var(--primary-gray);
}


div#slides div.infoWrapper svg * {
	transition: stroke ease-out 0.45s;
	stroke: var(--primary-gray);
}









section#experiences {}

section#experiences div.mainWrapper {
	width: 85%;
	float: left;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*While Designing div.story*/
section#experiences div.mainWrapper {
	height: 345px;
}

section#experiences div.mainWrapper div.anExp {
	display: inline-block;
	/*display: none; temporary, so that I can design div.story*/
	width: 50%;
	margin-bottom: 5px;
	position: relative;
	float: left;
	text-align: center;
	font-family: 'Open Sans';
	padding: 30px 0 50px;
	transition: box-shadow ease-out 0.7s, opacity ease-out 1s;
	cursor: initial;
}

section#experiences div.mainWrapper div.anExp:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

section#experiences div.mainWrapper div.anExp h3 {
	display: inline-block;
	margin: 10px auto 5px;
	font-size: 1.25em;
	font-weight: 300;
	color: var(--main-blue);
	border-bottom: 1px solid var(--main-blue);
	padding-bottom: 2px;
}

section#experiences div.mainWrapper div.anExp h1 {
	margin: 5px auto 10px;
	font-size: 1.25em;
	color: var(--primary-gray);
	font-weight: 300;
}

section#experiences div.mainWrapper div.anExp button {
	position: absolute;
    top: 125px;
    transform: translateX(-50%);	
	
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 0.9em;
    color: var(--main-blue);
    border: none;
	background-color: white;
	padding-bottom: 5px;
	transition: all ease-out 0.3s;
	opacity: 0;
}

section#experiences div.mainWrapper div.anExp button:focus {
	color: white;
	background-color: var(--main-blue);
}

section#experiences div.mainWrapper div.anExp button:before {
	height: 1px;
	position: absolute;
	left: 100%;
	right: 0;
	bottom: 0;
	background-color: var(--main-blue);
	transition: left ease-out 0.3s;
	content: "";
}

section#experiences div.mainWrapper div.anExp button.active:before {
	left: 0;
}


section#experiences div.mainWrapper div.story {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: opacity ease-out 1s;
	opacity: 0;
}

section#experiences div.mainWrapper div.story div.fade {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 2;
}

section#experiences div.mainWrapper div.story div.aboutStory {
	width: 90%;
	margin: 0;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Open Sans';
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 3;
}


section#experiences div.mainWrapper div.story div.aboutStory h1 {
	margin: 20px 0 5px 10px;
	font-size: 1.75em;
	font-weight: 300;
	color: #000000;
	padding: 3px 0;
}

section#experiences div.mainWrapper div.story div.aboutStory h1 #number {
	color: var(--main-blue);
	border-right: 2px solid var(--main-blue);
	padding-right: 10px;
}

section#experiences div.mainWrapper div.story div.aboutStory h1 #title {
	padding-left: 10px;
}

section#experiences div.mainWrapper div.story div.aboutStory p {
	width: 75%;
	margin: 0 0 20px 70px;
	font-size: 1em;
	font-weight: 300;
	line-height: 24px;
	color: var(--primary-gray);
}

section#experiences div.mainWrapper div.story div.aboutStory svg {
	margin: 10px 10px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	transition: fill ease-out 0.3s;
}

section#experiences div.mainWrapper div.story div.aboutStory svg:hover {
	fill: var(--cancel-orange);
}




section#recollections {}

section#recollections ul#upNdown {
	width: 30px;
	height: 60vh;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	padding: 0;
    transform: translateY(-50%);
    list-style-type: none;
    opacity: 1;
    transition: opacity ease-out 0.5s;
}

section#recollections ul#upNdown li {
	display: block;
	margin: 0 auto;
	position: absolute;
}

section#recollections ul#upNdown li:first-child {
	top: 0;
	left: -14px;
}

section#recollections ul#upNdown li:nth-child(2) {
	bottom: 0;
	left: -20px;
}

section#recollections ul#upNdown li svg {
	transform: scale(0.8);
}

section#recollections ul#upNdown li svg * {
	transition: stroke ease-out 0.3s;
	stroke: var(--main-blue);
}

section#recollections ul#upNdown svg#arrowUp * {
	stroke: #ffffff;
}

/*section#recollections ul#upNdown svg#arrowDown {
}*/

section#recollections div#entryWrapper {
	width: 80%;
    height: 60vh;
    margin: 0 0 0 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid var(--main-blue);
    padding: 0;
    overflow: hidden;
    opacity: 1;
    transition: opacity ease-out 0.5s;
}


section#recollections ul#entries {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
	list-style-type: none;
	overflow-y: auto;
}

section#recollections ul#entries li {
	display: block;
	margin: 30px 0px 30px 15px;
	font-family: 'Montserrat';
	color: var(--primary-gray);
}

section#recollections ul#entries li h1 {
	margin: 0 0 5px;
	font-size: 1.25em;
	font-weight: 300;
}

section#recollections ul#entries li h3 {
	margin: 5px 0 0;
	font-size: 0.88em;
	font-weight: 300;
}

section#recollections ul#entries li button {
	margin: 20px 0 0 -5px;
	font-size: 0.9em;
    color: var(--main-blue);
    border: none;
	background-color: white;
	padding: 5px;
	transition: all ease-out 0.3s;
}

section#recollections ul#entries li button:focus {
	color: #ffffff;
	background-color: var(--main-blue);
}




section#recollections article {
	display: none;
	width: 80%;
	height: 60vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	opacity: 0;
	transition: opacity ease-out 0.5s;
}

section#recollections article nav#menu {
	display: table;
	width: 100%;
	height: 60px;
	position: relative;
	top: 0;
	right: 100%;
	background-color: white;
	border-bottom: 1px solid var(--tertiary-gray);
	transition: all ease-out 0.5s;
	z-index: 4;
}

section#recollections article nav#menu.active {
	right: 0;
}

section#recollections article nav#menu ul {
	display: table;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	list-style-type: none;
}

section#recollections article nav#menu ul li {
	display: inline-block;
	margin: 0 10px;
}

section#recollections article nav#menu ul li a {
	text-decoration: none;
	font-family: 'Proxima Nova';
	font-size: 1em;
	color: var(--secondary-gray);
	border-bottom: 2px solid transparent;
	padding: 5px;
	transition: all ease-out 0.5s;
}

section#recollections article nav#menu ul li a:hover {
	color: var(--main-blue);
	border-bottom-color: var(--main-blue);
}

section#recollections article nav#menu ul li a#closeMenu {
	font-family: 'Open Sans';
	font-weight: 300;
	border: none;
	padding: none;
}

section#recollections article nav#menu ul li a#closeMenu:hover {
	color: var(--cancel-orange);
}

section#recollections article div.controlWrapper {
	width: 90%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid var(--tertiary-gray);
	z-index: 2;
}

section#recollections article ul#controls {
	/*width: 100%;*/
	/*height: 60px;*/
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	list-style-type: none;
}

section#recollections article ul#controls li {
	display: inline-block;
	margin: 5px 20px 0;
} 

section#recollections article ul#controls li svg {}

section#recollections article ul#controls li svg * {
	transition: stroke ease-out 0.5s;
	stroke: var(--primary-gray);
}  

section#recollections article ul#controls li#close svg:hover .inner {
	stroke: var(--cancel-orange);
}

section#recollections article ul#controls li#toggleMenu svg:hover .inner{
	stroke: var(--main-blue);
}




section#recollections article h1,
section#recollections article h3 {
	margin: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--primary-gray);
}

section#recollections div#mainArticle_wrapper {
	width: 100%;
	height: calc(100% - 60px);
	/*margin-top: 60px;*/
	overflow-y: auto;
	/*opacity: 0;*/
}

section#recollections article h1 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 1.25em;
	font-weight: 300;
}

section#recollections article h3 {
	margin-top: 5px;
	font-size: 1em;
	font-weight: 300;
}

section#recollections article p {
	width: 95%;
	margin: 20px auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.85em;
	line-height: 24px;
	color: var(--primary-gray);
}




 




 /*______________________________________________________________________

	Connections Area 
________________________________________________________________________
*/

section#connections {}

section#connections h1 {
	margin: 0 0 30px 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	color: var(--primary-gray);

	padding-top: 100px;
}

section#connections div#formWrapper {
	width: 60%;
	/*height: ;*/
	margin: 30px 0 60px 17px;
	overflow-x: hidden;
}

section#connections form {
	width: 100%;
	margin: 0;
	position: relative;
	padding: 2px 0;
	list-style-type: none;
}


section#connections form input {
	display: inline-block;
	width: 98%;
	height: 50px;
	margin: 5px auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: var(--main-blue);
	background-color: var(--tertiary-gray);
	border-radius: 2px;
	border: 2px solid transparent;
	transition: all ease-out 0.5s;
}

section#connections form .input {
	display: none;
	opacity: 0;
	transition: all ease-out 0.5s;
}

section#connections form input:focus {
	outline: none;
	border-color: var(--main-blue)
}

section#connections form input::placeholder {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #B8B8B8
}

section#connections form textarea {
	display: inline-block;
	width: 98%;
	margin: 5px auto;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	color: #B8B8B8;
	background-color: var(--tertiary-gray);
	border: 1px solid transparent;
	box-sizing: border-box;
    padding: 7px;
    transition: all ease-out 0.5s;
}

section#connections form textarea::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #B8B8B8
}

section#connections form textarea:focus {
	outline: none;
	border-color: var(--main-blue)
}

section#connections form p.message {
	display: none;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	color: var(--main-blue);
	transition: all ease-out 0.5s;
	opacity: 0;
}

section#connections div#socialMedia {
	display: table;
	position: relative;
	margin-left: 20px;
}

section#connections div#socialMedia ul {
	display: table;
	/*width: 100%;*/
	margin: 0;
	padding: 0;
	border-bottom: 1px solid var(--secondary-gray);
}

section#connections div#socialMedia ul li {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0px;
}

section#connections div#socialMedia ul li a {
	text-decoration: none;
	font-family: 'Proxima Nova';
	font-size: 1.25em;
	color: var(--secondary-gray);
	border-bottom: 4px solid;
	border-bottom-color: rgba(0, 0, 0, 0);
	padding: 10px 10px 8px;
	transition: all ease-out 0.5s;
}

section#connections div#socialMedia ul li a:hover {
	/*color: var(--main-blue) !important;*/
	border-bottom-color: var(--main-blue) !important;
}

section#connections div#socialMedia ul li a.active {
	color: var(--main-blue);
	border-bottom-color: var(--main-blue);
}

section#connections div#socialMedia ul li a:focus {

}

section#connections div#socialMedia p#whatIdoThere {
	margin: 10px auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: var(--main-blue);
	transition: opacity ease-out 0.5s;
	opacity: 0;
}